<div class="container">
  <!-- Header -->
  <div class="header">
    <img src="src\assets\imagenes\logo.jpeg" alt="imagen">
    <h1>Catálogo de Perritos</h1>
  </div>

  <!-- Body -->
  <div class="body mt-4">
    <p>Bienvenido al mejor catálogo de adopción de perritos.</p>
    <!-- Incrustar el video de YouTube -->
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/yaNLkVTCABA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
    <div class="grid-container">
      <div class="grid-item">
        <img src="src\assets\imagenes\imagen1.png" alt="Imagen 1">
      </div>
      <div class="grid-item">
        <img src="src\assets\imagenes\imagen2.png" alt="Imagen 2">
      </div>
      <div class="grid-item">
        <img src="src\assets\imagenes\imagen3.png" alt="Imagen 3">
      </div>
      <div class="grid-item">
        <img src="src\assets\imagenes\imagen4.png" alt="Imagen 4">
      </div>
    </div>
    

  <!-- Footer -->
  <div class="footer bg-dark text-white text-center py-3 mt-5">
    <p>Conceptualización de servicios en la nube</p>
    <p>Bertha Alicia Ortega Ruiz</p>
    <p>303653994</p>
    <p>bertha.ortega&#64;udgvirtual.udg.com</p>
  </div>
</div>
